<!--
client/partials/items-index.html
View / Template for showing all items
 -->
<h1>Show all items</h1>


<h4>ToDo:</h4>
<div ng-controller='all-Tasks'>
  <ul>
    <li ng-repeat="t in tasks | filter: 'ToDo'">{{t.task}}
      <form>
        <button type="button" ng-click="updateStatus(t, 'Doing')">ToDo</button>
      </form>
    </li>
  </ul>
</div>

<h4>Doing</h4>

<div ng-controller='all-Tasks'>
  <ul>
    <li ng-repeat="t in tasks | filter: 'Doing'">{{t.task}}
      <form>
        <button type="button" ng-click="updateStatus(t, 'Done')">Done</button>
      </form>
    </li>
  </ul>
</div>

<h4>Hide</h4>

<div ng-controller='all-Tasks'>
  <ul>
    <li ng-repeat="t in tasks | filter: 'Done'">{{t.task}}
      <form>
        <button type="button" ng-click="updateStatus(t, 'Hide')">Hide</button>
      </form>
    </li>
  </ul>
</div>
